<footer class="bg-dark text-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 mb-4">
                <h5 class="mb-3">Company</h5>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Press Room</a></li>
                    <li><a href="#">Advertising</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <h5 class="mb-3">Services</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <h5 class="mb-3">Discover</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">TV Shows</a></li>
                    <li><a href="#">Celebrities</a></li>
                    <li><a href="#">Awards & Events</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-6 mb-4">
                <h5 class="mb-3">Follow Us</h5>
                <div class="social-icons">
                    <a href="#" class="mr-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="mr-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="mr-3"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mr-3"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="text-center">&copy; 2023 SMM.App.Vercel, Inc. or its affiliates. All rights reserved.</p>
                <p class="text-center">Created By: <a href="https://github.com/Biswajeet-Mohapatra2004"
                        style="color: red; font-weight: bold;">Biswajeet Mohapatra</a></p>
            </div>

        </div>
    </div>
</footer>